@page
@model EFCoreMovie1_RazorPages.GetMoviesModel
@{
    ViewData["Title"] = "GetMovies";
}

<h1>List of movies</h1>
<p>
    <a asp-page="/Movies/Create">Create New Movie</a>
</p>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="GetMovies">Back to Full List </a>
    </p>
</form>
<h4 style="color:red"> List of movies</h4>
<table class="table">
    <thead>
        <tr>           
            <th>Id</th>
            <th>Title</th>
            <th>Year</th>
            <th>RunningTimeInMins</th>
            <th>StudioId</th>
        </tr>
    </thead>
    <tbody>

        @*Please Uncomment the code below*@

        @if (Model != null)
        {
            @foreach (var item in Model.Movies)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.Title </td>
                    <td> @item.Year  </td>
                    <td> @item.RunningTimeInMins </td>
                    <td> @item.StudioId </td>
                </tr>
            }
        }
</table>

